<div class="container-fluid" *ngIf="!isLogin">
    <div class="row">
        <div class="col-md-6">
            <img src="../assets/image/hospital.jpg"  height="100%" width="100%">
        </div>
        <div class="col-md-4 mt-3 mb-2">
            <h3 class="text-success text-center"><b>Welcome To Annual Health Checkup Online Booking</b></h3>

            <form action="" class="mt-5 p-5">
                <h5 class="text-primary mb-3">Login </h5>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Username" name="username" [(ngModel)]="username">
                    <label for="floatingInput">Email address</label>
                </div>
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" [(ngModel)]="password">
                    <label for="floatingPassword">Password</label>
                  </div>
                  <!-- <div class="form-floating mb-3">
                    <select class="form-select" id="floatingSelect" aria-label="Role" name="role" [(ngModel)]="role">
                      <option *ngFor="let r of roles" [value]="r">{{r}}</option>
                    </select>
                    <label for="floatingSelect">Role</label>
                  </div> -->
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-outline-success me-md-2" type="submit" (click)="checkLogin1()" >Login</button>
                  </div>

                  <a routerLink="/signup" class="text-primary" style="text-decoration: none;">Need account ? </a>
            </form>

        </div>
        <div class="col-md-2">
        </div>
    </div>
</div> 

<app-home *ngIf="isLogin"></app-home>
<!-- 


<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5" #loginForm="ngForm" (ngSubmit)="loginUser()">

              <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
              <p class="text-white-50 mb-5">Please enter your login and password!</p>

              <div class="form-outline form-white mb-4">
                <input type="text" class="form-control form-control-lg" id="userId" name="userId" placeholder="User Id"
                  [(ngModel)]="user.userId" required #userId="ngModel"
                  [class.is-invalid]="userId.invalid && userId.touched" minlength="5" maxlength="8" pattern=".{5,8}" />
                <small class="text-danger" [class.d-none]="userId.valid || userId.untouched">User Id is Invalid/small>
                <label class="form-label" for="exampleInputUserId">User Id</label>
              </div>

              <div class="form-outline form-white mb-4">
                <input type="password" class="form-control form-control-lg" id="password" name="password"
                  placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" [(ngModel)]="user.password"
                  required #password="ngModel" [class.is-invalid]="password.invalid && password.touched" />
                <small class="text-danger" [class.d-none]="password.valid || password.untouched">Invalid
                  password</small>
                <label class="form-label" for="exampleInputPassword">Password</label>
              </div>

              <button [disabled]="loginForm.form.invalid" type="submit" class="btn btn-outline-light btn-lg px-5">Login</button>

              <div class="d-flex justify-content-center text-center mt-4 pt-1">
                <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
              </div>

            </div>

            <div>
              <p class="mb-0">Don't have an account? <a routerLink="/member-signUp" class="text-white-50 fw-bold">Sign
                  Up</a>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="vh-100 gradient-custom" *ngIf="!isLogin">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <form class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
              <p class="text-white-50 mb-5">Please enter your login and password!</p>
              <div class="alert alert-warning d-flex align-items-center" role="alert" *ngIf='errorMessage'>
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:">
                  <use xlink:href="#exclamation-triangle-fill" />
                </svg>
                <div>
                  {{errorMessage}}
                </div>
              </div>

              <div class="form-outline form-white mb-4">
                <input type="text" class="form-control" id="username" [(ngModel)]="username"
                  placeholder="Enter User Name" name="username">
                <label class="form-label" for="username">User Id</label>
              </div>

              <div class="form-outline form-white mb-4">
                <input type="password" class="form-control" [(ngModel)]="password" id="password"
                  placeholder="Enter password" name="password">
                <label class="form-label" for="exampleInputPassword">Password</label>
              </div>


              <button (click)=checkLogin1() class="btn btn-outline-light btn-lg px-5">Login</button>

              <div class="d-flex justify-content-center text-center mt-4 pt-1">
              </div>

            </form>

            <div>
              <p class="mb-0">Don't have an account? <a routerLink="/member-signUp" class="text-white-50 fw-bold">Sign
                  Up</a>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- <app-menu></app-menu>
<div class="container col-lg-6">
    <h1 class="text-center">Login</h1>
    <div class="card">
      <div class="card-body">
        <form class="form-group">
          <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
          <div class="alert alert-success" *ngIf='loginSuccess'>{{successMessage}}</div>
          <div class="form-group">
            <label for="email">User Name :</label>
            <input type="text" class="form-control" id="username" [(ngModel)]="username" placeholder="Enter User Name"
              name="username">
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" [(ngModel)]="password" id="password" placeholder="Enter password"
              name="password">
          </div>
          <button [disabled]="loginForm.form.invalid" class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>

          <button (click)=checkLogin1() class="btn btn-success">Login</button>
        </form>
      </div>
    </div>
  </div> -->