<br>
<br>
<button *ngIf="showBtn$ | async" class="top-btn" (click)="gotoTop()">
  &uarr;
</button>
<br>
<br>
<br>
<br>
<footer class="container-fluid  footer" style="background-color:rgb(70, 112, 190)">
  <!-- Copyright -->&thinsp;
  <!-- <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);"> -->
  <div class="text-center" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2022 Copyright:
    <a class="text-reset fw-bold">tb.com</a>
  </div>
  <!-- Copyright --> &thinsp;
  <!-- <p>*****************************************************************************************************************************************************************************************************************************</p> -->
</footer>