<div class="bg">

<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/doctor-registration" *ngIf="user.role ==='ADMIN'">Add Doctor</a>
      <a class="navbar-brand" routerLink="/patient-registration" *ngIf="user.role ==='ADMIN'">Add Patient</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <button class="btn btn btn-success mr-1 me-2" data-bs-toggle="modal" data-bs-target="#addHospital" type="submit">Add Hospital</button>
        
      </div>
      
        
      <div>
        <button id="mybutton" class="btn btn-danger text-white me-2" (click)="logout()" >Logout</button>
      </div>
      
    </div>
    
    </nav>


 <!-- Patients -->
  <!--Card View-->
  
  <div class="container" *ngIf="user.role ==='DOCTOR'">
        <br>
        <div class="row">
      <!-- <div class="col-md-6">
        <img src="../assets/image/hospital.jpg"  height="100%" width="100%">
    </div> -->

      <div class="col-sm-3" *ngFor="let hospital of patients">
        <br>
        <div class="card" style="width:18rem;">
          <div class="card-header text-center text-primary">
            Patient Details
          </div>
          <div class="card-body">
            <div class="card-title mb-3">Patient Name :{{hospital.firstName}} {{hospital.lastName}}</div>
  
            <div class="card-subtitle" > Patient Email Id : {{hospital.email}}</div>
            <div class="card-subtitle" > Emergency Contact Number : {{hospital.emergencyContactNumber}}</div>

              
             
             
  
            
           
            <div class="row">
              
                <ul class="list-group list-group-flush">
                 
                  <li class="list-group-item">Patient  address: {{hospital.address}}</li>
                  <li class="list-group-item">Patient Contact Number : {{hospital.contactNumber}}</li>
                  
                  <li class="list-group-item">Patient Gender : {{hospital.gender}}</li>
                  
                  <li class="list-group-item">Date Of Birth: {{hospital.dateOfBirth | date : 'yyyy-MM-dd'}}</li>
                  
  
                </ul>
              
            </div>
            <div class="row">
              <div class="col-sm-7" style="margin-top: 20px; display:flex; justify-content:right;">
                <td>
                  <button type="button" class="btn btn-outline-primary me-2 " data-bs-toggle="modal" data-bs-target="#editHospital" [routerLink]="['/view-patient-details/',hospital.contactNumber]">Details</button>
                  <button type="button" class="btn btn-outline-primary me-2 " data-bs-toggle="modal" data-bs-target="#editHospital" [routerLink]="['/patient-records-registration/',hospital.contactNumber]">Edit</button>
                  <!-- <button type="button" class="btn btn-outline-primary me-2 " data-bs-toggle="modal" data-bs-target="#editHospital" (click)="editHospital(hospital)">Edit</button>-->
                  <button type="button" class="btn btn-outline-danger " (click)="deletePatient(hospital.contactNumber)">Delete</button><br> 
                 
              </td>
  
              </div>
              
            </div>
            <div class="row">
              <div class="col-sm-7" style="margin-top: 20px; display:flex; justify-content:right;">
                <td>
                  
                  <!-- <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2" (click)="onViewHospital(hospital)">View</button> -->
              </td>
  
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  </div>
  <!-- Doctors -->
   <!--Card View-->
  
   <div class="container" *ngIf="user.role ==='ADMIN'">
    <br>
    <div class="row">
      <br>
      <!-- <div class="col-md-6">
        <img src="../assets/image/hospital.jpg"  height="100%" width="100%">
    </div> -->

      <div class="col-sm-3" *ngFor="let hospital of doctors">
        
        <div class="card" style="width:18rem;">
          <div class="card-header text-center text-primary">
            Patient Details
          </div>
          <div class="card-body">
            <div class="card-title mb-3">Doctor Name :{{hospital.firstName}} {{hospital.lastName}}</div>
  
            <div class="card-subtitle" > Doctor Email Id : {{hospital.emailId}}</div>
            <!-- <div class="card-subtitle" > Emergency Contact Number : {{hospital.emergencyContactNumber}}</div> -->

              
             
             
  
            
           
            <div class="row">
              
                <ul class="list-group list-group-flush">
                 
                  <li class="list-group-item">Contact Number : {{hospital.contactNumber}}</li>
                  
                  <li class="list-group-item">Doctor Gender : {{hospital.gender}}</li>
                  
                  <li class="list-group-item">Date Of Birth: {{hospital.dateOfBirth | date : 'yyyy-MM-dd'}} </li>
                  
  
                </ul>
              
            </div>
            <div class="row">
              <div class="col-sm-7" style="margin-top: 20px; display:flex; justify-content:right;">
                <td>
                  <!-- <button type="button" class="btn btn-outline-primary me-2 " data-bs-toggle="modal" data-bs-target="#editHospital" (click)="editHospital(hospital)">Edit</button>
                  <button type="button" class="btn btn-outline-danger " (click)="deleteHospital(hospital.contactNumber)">Delete</button><br> -->
                 
              </td>
  
              </div>
              
            </div>
            <div class="row">
              <div class="col-sm-7" style="margin-top: 20px; display:flex; justify-content:right;">
                <td>
                  
                  <!-- <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2" (click)="onViewHospital(hospital)">View</button> -->
              </td>
  
              </div>
            </div>
          </div>
      </div>
    </div>
    <br>
  </div>
    <br>
  </div>
  <footer  class="container-fluid" style="background-color:rgb(70, 112, 190)">
    <p>*****************************************************************************************************************************************************************************************************************************</p>
  </footer>

</div>





  
  
  <!--<html>
    <head>
        <style type="text/css">
            .S{
                background-color: blue;
            }
        </style>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="row" style="margin-top:12px; margin-left: 350px;">
                        <div class="col-md-3" align="center"><button id="S" class="btn btn-primary"><a routerLink="/register-user" style="text-decoration: none;"><p style="font-size: 16px; color:white; text-align:center;"><b>Sign Up</b></p></a></button></div> 
                        <div class="col-md-3" align="center"><button id="S" class="btn btn-primary"><a routerLink="/policy-registration" style="text-decoration: none;"><p style="font-size: 16px; color:white; text-align:center;"><b>Login</b></p></a></button></div>
                        <div class="col-md-3" align="center"><button id="S" class="btn btn-primary"><a routerLink="/search" style="text-decoration: none;"><p style="font-size: 16px; color:white; text-align:center;"><b>SearchPolicies</b></p></a></button></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
-->
  