<nav class="navbar navbar-expand-lg sticky-top scrolling-navbar" style="background-color:rgb(84, 108, 139)">
    <div class="container-fluid" style="background-color:rgb(70, 112, 190)">
   
      <a class="navbar-brand" href="#"><h3>Policy Managment System</h3></a>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link active" style="color:rgb(238, 247, 247)"  routerLink='/login' aria-current="page" href="#"><h5>Customer</h5></a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>


  <img  src='assets/images/bg1.jpg' height="50%" width="100%">
 

   
  <footer  class="container-fluid" style="background-color:rgb(70, 112, 190)">
    <p>*****************************************************************************************************************************************************************************************************************************</p>
  </footer>






  
  
  <!--<html>
    <head>
        <style type="text/css">
            .S{
                background-color: blue;
            }
        </style>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="row" style="margin-top:12px; margin-left: 350px;">
                        <div class="col-md-3" align="center"><button id="S" class="btn btn-primary"><a routerLink="/register-user" style="text-decoration: none;"><p style="font-size: 16px; color:white; text-align:center;"><b>Sign Up</b></p></a></button></div> 
                        <div class="col-md-3" align="center"><button id="S" class="btn btn-primary"><a routerLink="/policy-registration" style="text-decoration: none;"><p style="font-size: 16px; color:white; text-align:center;"><b>Login</b></p></a></button></div>
                        <div class="col-md-3" align="center"><button id="S" class="btn btn-primary"><a routerLink="/search" style="text-decoration: none;"><p style="font-size: 16px; color:white; text-align:center;"><b>SearchPolicies</b></p></a></button></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
-->
  