.footer {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    /* Set the footer to fixed position */
    bottom: 0;
    /* Position the footer at the top of the page */
    width: 100%;
    /* Full width */
}


/* Change background on mouse-over */
.footer a:hover {
    background: #ddd;
    color: black;
}

/* Main content */
.main {
    margin-bottom: 30px;
    /* Add a top margin to avoid content overlay */
}

p {
    font-family: Lato;
}

.top-btn {
    position: fixed;
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    font-size: 5px;
    text-align: center;
    border-radius: 5px;
    outline: none;
    z-index: 99 !important;
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(194, 56, 56); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer;
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

  img{
    width: 5px;
     height: 5px;
  }