<section class="h-100 h-custom" style="background-color: #8fc4b7;">
    <div class="container">

        <form class="card" style="border-radius: 15px;" #RegisterForm="ngForm" (ngSubmit)="saveReports()">

            <h1 class="text-center">patient Registration</h1>

            <div class="card-body">

                <div class="container text-center  alert alert-warning" *ngIf="errorMessageResponse">Error:
                    {{errorMessageResponse}}
                </div>

                <div class="row align-items-center pt-4 pb-3">
                    <label class="col-md-3 ps-5" for="exampleInputsystolic">
                        <h6 class="mb-0">systolic<span class="required">*</span></h6>
                    </label>
                    <div class="form-group col-md-9 pe-5">
                        <input type="number" class="form-control" id="systolic" name="systolic" placeholder="BP Level1"
                            [(ngModel)]="reports.systolic" required #systolic="ngModel"
                            [class.is-invalid]="systolic.invalid && systolic.touched"/>
                        <small class="text-danger" [class.d-none]="systolic.valid || systolic.untouched">BP Level1
                            is
                            required</small>
                    </div>
                </div>

                <div class="row align-items-center pt-4 pb-3">
                    <label class="col-md-3 ps-5" for="exampleInputdiastolic">
                        <h6 class="mb-0">diastolic<span class="required">*</span></h6>
                    </label>
                    <div class="form-group col-md-9 pe-5">
                        <input type="number" class="form-control" id="diastolic" name="diastolic" placeholder="BP Level2"
                            [(ngModel)]="reports.diastolic" required #diastolic="ngModel"
                            [class.is-invalid]="diastolic.invalid && diastolic.touched"/>
                        <small class="text-danger" [class.d-none]="diastolic.valid || diastolic.untouched">BP Level2
                            is
                            required</small>
                    </div>
                </div>

                <div class="row align-items-center pt-4 pb-3">
                    <label class="col-md-3 ps-5" for="exampleInputsugarlevel">
                        <h6 class="mb-0">Sugar Level<span class="required">*</span></h6>
                    </label>
                    <div class="form-group col-md-9 pe-5">
                        <input type="number" class="form-control" id="sugarlevel" name="sugarlevel" placeholder="Sugar Level"
                            [(ngModel)]="reports.sugarlevel" required #sugarlevel="ngModel"
                            [class.is-invalid]="sugarlevel.invalid && sugarlevel.touched"/>
                        <small class="text-danger" [class.d-none]="sugarlevel.valid || sugarlevel.untouched">Sugar Level
                            is
                            required</small>
                    </div>
                </div>

                

                <div class="d-flex justify-content-around pt-3">
                    <!-- <button type="button" class="btn btn-primary btn-lg" (click)="navBack()">Back</button> -->
                    <!-- <button type="button" class="btn btn-light" [routerLink]="['/home/',username]">Home</button> -->
                    <button type="reset" class="btn btn-info btn-lg">Reset All</button>
                    <button type="submit" class="btn btn-warning btn-lg ms-2">Register</button>
                </div>
            </div>

        </form>
    </div>
</section>

<!-- <mat-form-field>
    <mat-label>
        emailIds
    </mat-label>
    <input matInput type="text" [matAutocomplete]="auto"/>
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let emailId of emailIds">
            {{emailId}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field> -->
