<section class="h-100 h-custom" style="background-color: #8fc4b7;">
    <div class="container">

        <form class="card" style="border-radius: 15px;" #RegisterForm="ngForm" (ngSubmit)="savepatient()">

            <h1 class="text-center">patient Registration</h1>

            <div class="card-body">

                <div class="container text-center  alert alert-warning" *ngIf="errorMessageResponse">Error:
                    {{errorMessageResponse}}
                </div>

                <div class="row align-items-center pt-4 pb-3">
                    <label class="col-md-3 ps-5" for="exampleInputfirstName">
                        <h6 class="mb-0">First Name<span class="required">*</span></h6>
                    </label>
                    <div class="form-group col-md-9 pe-5">
                        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name"
                            [(ngModel)]="patient.firstName" required #firstName="ngModel"
                            [class.is-invalid]="firstName.invalid && firstName.touched" (keypress)="OnlyAlbhabets($event)"/>
                        <!-- <small class="text-danger" [class.d-none]="firstName.valid || firstName.untouched">First Name
                            is
                            required</small> -->
                    </div>
                </div>

                <div class="row align-items-center pt-4 pb-3">
                    <label class="col-md-3 ps-5" for="exampleInputlastName">
                        <h6 class="mb-0">Last Name<span class="required">*</span></h6>
                    </label>
                    <div class="form-group col-md-9 pe-5">
                        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name"
                            [(ngModel)]="patient.lastName" required #lastName="ngModel"
                            [class.is-invalid]="lastName.invalid && lastName.touched" />
                        <small class="text-danger" [class.d-none]="lastName.valid || lastName.untouched">Last Name
                            is
                            required</small>
                    </div>
                </div>

                <div class="row align-items-center pt-4 pb-3">
                    <label class="col-md-3 ps-5" for="contactNumber">
                        <h6 class="mb-0">Contact Number</h6>
                    </label>
                    <div class="form-group col-md-9 pe-5">
                        <input type="tel" [(ngModel)]="patient.contactNumber" class="form-control" name="contactNumber"
                        pattern="[0-9]{10}" title="must have 10 numbers"  maxlength="10"  required #contactNumber="ngModel"/>
                        <small class="text-danger" [class.d-none]="contactNumber.valid || contactNumber.untouched">Contact Number
                            is
                            required</small>
                    </div>
                </div>
    

                <div class="row align-items-center pt-4 pb-3">
                    <label class="col-md-3 ps-5" for="exampleInputlastName">
                        <h6 class="mb-0">Address<span class="required">*</span></h6>
                    </label>
                    <div class="form-group col-md-9 pe-5">
                        <input type="text" class="form-control" id="address" name="address" placeholder="Last Name"
                            [(ngModel)]="patient.address" required #address="ngModel"
                            [class.is-invalid]="address.invalid && address.touched" />
                        <small class="text-danger" [class.d-none]="address.valid || address.untouched">Address
                            is
                            required</small>
                    </div>
                </div>



                <div class="row align-items-center pt-4 pb-3">
                    <label class="col-md-3 ps-5" for="exampleInputEmailId">
                        <h6 class="mb-0">Email Id<span class="required">*</span></h6>
                    </label>
                    <fieldset class="form-group col-md-9 pe-5">
                        <input type="email" class="form-control" id="email" name="email"
                            placeholder="Email Id" [(ngModel)]="patient.email"
                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required #email="ngModel"
                            [class.is-invalid]="email.invalid && email.touched" />
                            
                        <small class="text-danger"
                            [class.d-none]="email.valid || email.untouched"> Email Id is
                            required</small>
                    </fieldset>
                </div>

                

                <div class="row align-items-center pt-4 pb-3">
                    <label class="col-md-3 ps-5" for="exampleInputpatientdob">
                        <h6 class="mb-0">Date Of Birth<span class="required">*</span></h6>
                    </label>

                    <fieldset class="form-group col-md-9 pe-5">
                        <input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth"
                            placeholder="Date Of Birth" [ngModel]="patient.dateOfBirth | date: 'yyyy-MM-dd' "
                            (ngModelChange)="patient.dateOfBirth = $event" required #dateOfBirth="ngModel"
                            [class.is-invalid]="dateOfBirth.invalid && dateOfBirth.touched" />
                           
                        <small class="text-danger"
                            [class.d-none]="dateOfBirth.valid || dateOfBirth.untouched">Date Of Birth
                            is a required field.</small>
                    </fieldset>
                </div>

               

                <div class="row align-items-center pt-4 pb-3">
                    <label class="form-label col-md-3 ps-5" for="exampleInputgender">
                        <h6 class="mb-0">Gender<span class="required">*</span></h6>
                    </label>
                    <div class="form-group col-md-9 pe-5">
                        <select class="form-control" name="gender" id="gender" [(ngModel)]="patient.gender" required>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                </div>

                <div class="row align-items-center pt-4 pb-3">
                    <label class="col-md-3 ps-5" for="exampleInputmstatus">
                        <h6 class="mb-0">Marital Status<span class="required">*</span></h6>
                    </label>
                    <div class="form-group col-md-9 pe-5">
                        <input type="text" class="form-control" id="maritalStatus" name="maritalStatus" placeholder="Marital Status"
                            [(ngModel)]="patient.maritalStatus" required #maritalStatus="ngModel"
                            [class.is-invalid]="maritalStatus.invalid && maritalStatus.touched" />
                        <small class="text-danger" [class.d-none]="maritalStatus.valid || maritalStatus.untouched">Marital Status
                            is
                            required</small>
                    </div>
                </div>

                <div class="row align-items-center pt-4 pb-3">
                    <label class="col-md-3 ps-5" for="exampleInputemergencyContactNumber">
                        <h6 class="mb-0">Emergency Contact Number</h6>
                    </label>
                    <fieldset class="form-group col-md-9 pe-5">
                        <input type="text" class="form-control" id="emergencyContactNumber" name="emergencyContactNumber" placeholder="emergencyContactNumber"
                            [(ngModel)]="patient.emergencyContactNumber">
                            
                    </fieldset>
                </div>

                <div class="row align-items-center pt-4 pb-3">
                    <label class="col-md-3 ps-5" for="exampleInputpatientvisitedDate">
                        <h6 class="mb-0">Date</h6>
                    </label>

                    <fieldset class="form-group col-md-9 pe-5">
                        <input type="date" class="form-control" id="dateVisited" name="dateVisited"
                            placeholder="Last Visited Date" [ngModel]="patient.dateVisited | date: 'yyyy-MM-dd' "
                            (ngModelChange)="patient.dateOfBirth = $event"   />
                    </fieldset>
                </div>

                <div class="d-flex justify-content-around pt-3">
                    <!-- <button type="button" class="btn btn-primary btn-lg" (click)="navBack()">Back</button> -->
                    <!-- <button type="button" class="btn btn-light" [routerLink]="['/home/',username]">Home</button> -->
                    <button type="reset" class="btn btn-info btn-lg">Reset All</button>
                    <button type="submit" class="btn btn-warning btn-lg ms-2">Register</button>
                </div>
            </div>

        </form>
    </div>
</section>

<!-- <mat-form-field>
    <mat-label>
        emailIds
    </mat-label>
    <input matInput type="text" [matAutocomplete]="auto"/>
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let emailId of emailIds">
            {{emailId}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field> -->
